<div>
    <link rel="stylesheet" href="../../css/fridge.css" />
    <div class="row">
        <div class="col-1">
            <a href="/">
                <button type="button" class="btn btn-secondary bg-highlight back p-1 text-white">Back</button>
            </a>
        </div>
        <div class="col-11">
            <h2>Add Stock to Your Fridge</h2>
        </div>
    </div>
    
    <div class="container text-center">
        <div class="row">
            <div class="col-5">
                <h3 id="my_fridge" data-id="{{fridgeIngredientDataClean.id}}">Your Fridge</h3>
                <ul class="list-group stock-list">
                    {{#each fridgeIngredientDataClean.stocks as |ingredient| }}
                    <li class="list-group-item list-group-item-action" data-id="{{ingredient.id}}">{{ingredient.name}} ✖
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-2 position-relative middle">
                <button type="button" class="btn btn-secondary bg-highlight save">Save to your fridge</button>
            </div>
            <div class="col-5">
                <h3>Ingredient List</h3>
                <input type="text" id="myInput" class="input-group mb-3" onkeyup="searchIngredient()" placeholder="Search for ingredient...">
                <ul class="list-group ingredient-list">
                    {{#each allIngredientDataClean as |ingredient| }}
                    <li class="list-group-item list-group-item-action" data-id="{{ingredient.id}}">{{ingredient.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <script src="../js/fridge.js"></script>
</div>